# -------------------------------
# Backend
# -------------------------------
backend/node_modules/
backend/.env
backend/logs/
backend/*.log
backend/npm-debug.log*
backend/yarn-debug.log*
backend/yarn-error.log*

# -------------------------------
# Frontend
# -------------------------------
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*
frontend/*.local
frontend/.env

# -------------------------------
# IDE / Editor
# -------------------------------
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# -------------------------------
# OS / System
# -------------------------------
.DS_Store
Thumbs.db
